.fighters___root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url('../../resources/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fighters___list {
  margin: 40px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fighters___fighter,
.fighter___info {
  border: 5px solid #ca9650;
  background: #ffdfa7;
  margin: 10px;
}

.fighters___fighter {
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 150px;
  max-width: 150px;
  flex: 1;
}

.fighter___info {
  width: 100%;
  text-align: center;
  font-family: 'Potta One', cursive;
}

.fighter___info span {
  display: flex;
  flex-direction: row;
  margin: 0 0 2px 3px;
}

.fighter___info span:last-child {
  margin-bottom: 0;
}

.fighter___info p {
  margin: 0;
  color: #b00;
  margin-left: 10px;
}

.fighters___fighter:hover {
  background: #cbe4f8;
  border: 5px solid #267abf;
}
