.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img.fighter-preview___right {
  transform: scaleX(-1);
}

.fighter-preview___img.fighter-preview___right,
.fighter-preview___img.fighter-preview___left {
  height: 350px;
}