.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  font-family: 'Potta One', cursive;
  min-width: 300px;
  max-width: 50%;
}

.modal-header,
.modal-body {
  border: 5px solid #ca9650;
  background: #ffdfa7;
  padding: 20px;
  margin: 0;
}

.modal-body p {
  margin: 0;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 700;
  font-size: 22px;
  border-bottom: 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.modal-body img {
  width: 15rem;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #b00;
  cursor: pointer;
}